@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'), url('../fonts/FuturaPT-Medium.woff') format('woff'), url('../fonts/FuturaPT-Medium.ttf') format('truetype'), url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg'), url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2'), url('../fonts/FuturaPT-Light.woff') format('woff'), url('../fonts/FuturaPT-Light.ttf') format('truetype'), url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg'), url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'), url('../fonts/FuturaPT-Demi.woff') format('woff'), url('../fonts/FuturaPT-Demi.ttf') format('truetype'), url('../fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg'), url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'), url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf') format('truetype'), url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg'), url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*:hover,
*:focus {
    outline: none
}

img {
    max-width: 100%;
    height: auto;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #505050;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #000;
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: normal;
}

a {
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

strong,
b {
    font-weight: bold;
}

cite {
    font-style: normal;
}

em,
i {
    font-style: italic;
}

input,
textarea,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

::-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

header,
section,
footer {}

.form-control.text_capitial {
    text-transform: capitalize;
}

.display_table {
    display: table;
    height: 100%;
    width: 100%;
}

.display_cell {
    display: table-cell;
    vertical-align: middle;
}


/*header css*/

header {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
}

header .logo_bx {
    width: 18%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

header .header_pro_rt {
    width: 82%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

header .header_pro_rt ul>li {
    font-size: 18px;
    color: #535353;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: 29px;
}

header .header_pro_rt ul>li:last-child {
    margin-right: 0;
}

header .header_pro_rt ul>li a span {
    position: relative;
}

header .header_pro_rt ul>li a span .fa {
    margin-right: 5px;
}

header .header_pro_rt ul>li a span city {
    position: absolute;
    top: -7px;
    right: 0px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #dc5656;
    color: #fff;
    text-align: center;
    font-size: 10px;
}

header .header_pro_rt ul li figure {
    display: inline-block;
    width: 66px;
    height: 66px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-right: 13px;
}

header .header_pro_rt ul li figure img {
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

header .header_pro_rt ul li a {
    padding: 0;
    color: #535353;
    display: inline-block;
}

header .header_pro_rt ul li a:hover,
header .header_pro_rt ul li a:focus {
    color: #e51b23;
}

header .header_pro_rt ul li .dropdown-menu {
    left: auto;
    margin: 2px 0 0;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    right: 0;
    top: 48px;
    border: 1px solid rgba(230, 230, 230, 0.75);
}

header .header_pro_rt ul li .dropdown-menu>li {
    font-size: 18px;
    color: #535353;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 0;
    width: 100%;
}

header .header_pro_rt ul li .dropdown-menu>li>a {
    display: block;
    padding: 5px 10px;
}


/*notification css*/


/*.notication_btn
{
    position: relative;
}*/

header .header_pro_rt ul li .notificaton_bx {
    min-width: 330px;
    background-color: #ececec;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 38px;
}

header .header_pro_rt ul li .notificaton_bx::before {
    content: '';
    /* width: 10px; */
    border-color: #de1a22;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 12px;
    /* width: 10px; */
    /* height: 10px; */
    position: absolute;
    top: -24px;
    right: 24px;
    border-top-color: transparent;
}

header .header_pro_rt ul li .notificaton_bx .noti_head {
    padding: 10px 10px;
    background-color: #de1a22;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #ddd;
}

header .header_pro_rt ul li .notificaton_bx .noti_head h3 {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    font-family: 'FuturaPT-Medium';
}

header .header_pro_rt ul li .notificaton_bx .content_bx {
    height: 300px;
    overflow-y: scroll;
}

header .header_pro_rt ul li .notificaton_bx .content_bx .sec_bx {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
     -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

header .header_pro_rt ul li .notificaton_bx .content_bx .sec_bx h3 {
    padding: 10px 10px;
    background-color: #ececec;
    text-align: center;
    font-size: 15px;
}

header .header_pro_rt ul li .notificaton_bx .content_bx .sec_bx ul li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
}


/*dashboard css*/

.dashboard_out_main {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

.dashboard_lt {
    width: 20%;
    background-color: #de1a22;
    position: fixed;
    left: 0;
    top: 118px;
    height: 100%;
}

.dashboard_lt h1 {
    font-size: 28px;
    color: #ffffff;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    padding: 35px 23px 33px;
    letter-spacing: 0.06em;
}

.dashboard_menu>ul {
    margin-bottom: 180px;
}

.dashboard_menu ul li {
    border-bottom: 1px solid #9c1116;
    font-size: 14px;
    letter-spacing: 0.06em;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
}

.dashboard_menu ul li:last-child {
    border-bottom: 0;
}

.dashboard_menu ul li a {
    display: block;
    color: #fff;
    padding: 17px 23px;
    text-transform: uppercase;
}

.dashboard_menu ul li.active>a,
.dashboard_menu ul li a:hover,
.dashboard_menu ul li a:focus {
    background-color: #e9e9e9;
    color: #000000;
}


.dashboard_menu ul li .submenu li a
{
padding: 17px 23px 17px 37px !important;
}
.dashboard_menu ul li .submenu li:first-child
{
    border-top: 1px solid #9c1116;
}

.drop_arrow_bx
{
    position: relative;
}
.drop_arrow_bx.open .drop_arrow.link .fa.fa-angle-right
{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);

}
.drop_arrow_bx .drop_arrow.link .fa.fa-angle-right {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
        -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.drop_arrow {
	position: absolute;
	top: 5px;
	/* bottom: 0; */
	right: 20px;
	font-size: 30px;
	color: #fff;
}
/*dashboard rt css*/

.dashboard_rt {
    width: 80%;
    float: right;
    margin: 118px 0 61px 39%;
    padding: 38px 50px;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .dashboard_rt {
        width: 80%;
        float: right;
        margin: 118px 0 61px 39%;
        padding: 38px 50px;
    }
}

.add_friend_bx {
    max-width: 656px;
    width: 100%;
    float: left;
    background-color: #ececec;
    padding: 44px 33px 40px;
}

.add_friend_bx h3 {
    color: #000;
    font-size: 27px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin-bottom: 50px;
    letter-spacing: 0.02em;
}

.find_friend_btn {
    margin-bottom: 53px;
}

.find_friend_btn a {
    display: inline-block;
    padding: 14px 26px 15px;
    text-transform: uppercase;
    border: 2px solid #cbcbcb;
    border-radius: 3px;
    margin-right: 27px;
    color: #de1a22;
    font-size: 18px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    letter-spacing: 0.02em;
}

.find_friend_btn a:last-child {
    margin-right: 0;
}

.find_friend_btn a:hover {
    border-color: #de1a22;
    background-color: #de1a22;
    color: #fff;
}

.frd_list ul li {
    border-bottom: 1px solid #d5d5d5;
    padding: 12px 0 17px;
    float: left;
    width: 100%;
}

.frd_list ul li figure {
    display: inline-block;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin: 0 15px 0 33px;
}

.frd_list ul li figure img {
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.frd_list ul li h4 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    letter-spacing: 0.02em;
    font-size: 18px;
}


/*check box css*/

.checkbox {
    padding-left: 20px;
    display: inline-block;
    width: 40px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 38px;
    left: 0;
    margin-left: -20px;
    border: 3px solid #cccccc;
    border-radius: 4px;
    background-color: #ececec;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 22px;
    left: 8px;
    top: 8px;
    margin-left: -20px;
    background: url(../images/tick-icon.png) center top no-repeat;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
    content: "";
}

.checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.publish_btn {
    margin: 49px 0 0;
    text-align: right;
}

.back_btn {
    width: 127px;
    display: inline-block;
    margin-right: 15px;
    background-color: #878787;
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    font-family: 'FuturaPT-Book';
    padding: 6px 10px;
    border: 1px solid transparent;
}

.back_btn.publish_btn:hover,
.back_btn.publish_btn:focus,
.back_btn:hover,
.back_btn:focus {
    background-color: transparent;
    border-color: #de1a22;
    color: #de1a22;
}

.back_btn.publish_btn {
    background-color: #de1a22;
}


/*footer css*/

footer {
    background-color: #fff;
    padding: 19px 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    color: #000000;
    font-size: 16px;
    font-family: 'FuturaPT-Book';
    position: relative;
    letter-spacing: 0.05em;
}

footer p span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17%;
}

footer p span a {
    color: #2ba2cc;
}

footer p span a:hover,
footer p span a:focus {
    color: #de1a22;
}


/*friend and family profile css*/

.wish_profle_bx {
    margin-bottom: 50px;
}

.wish_profle_bx.family_pro_bx {
    margin-bottom: 77px;
}

.filler_bx {
    float: right;
}

.filler_bx p {
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.02em;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    display: inline-block;
}

.filler_bx select {
    height: 50px;
    width: 161px;
    padding: 6px 13px;
    margin-left: 10px;
    border: 1px solid #dbdbdb;
    font-weight: normal;
    position: relative;
    background: url(../images/down-arrow.png) 94% 50% no-repeat;
    font-family: 'FuturaPT-Light';
    font-size: 18px;
    font-weight: normal;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filler_bx select::-ms-expand {
    display: none;
}

.filler_bx select:hover {
    cursor: pointer;
}

.pro_lt_bx {
    display: inline-block;
    padding: 23px 0 0;
}

.pro_lt_bx figure {
    display: inline-block;
    width: 135px;
    vertical-align: middle;
}

.pro_lt_bx figure img {
    width: 100%;
}

.pro_detail {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
}

.pro_detail h3 {
    font-size: 27px;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
}

.wish_item_bx {
    margin-bottom: 51px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 62px;
}

.wish_item_bx:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.wish_item_bx ul li {
    text-align: center;
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}

.wish_item_bx ul li:nth-child(4n+4) {
    margin-right: 0;
}

.wish_item_bx ul li h3 {
    font-size: 27px;
    line-height: 32px;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.wish_item_bx ul li h3 a {
    color: #000;
}

.wish_item_bx ul li h3 a:hover,
.wish_item_bx ul li h3 a:focus {
    color: #e51b23;
}

.wish_item_bx ul li h3 a span {
    display: block;
}

.wish_item_bx ul li figure {
    width: 232px;
    height: 232px;
    margin: 34px 0 20px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid #ececec;
    display: inline-block;
    position: relative;
}

.wish_item_bx ul li figure>img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 100%;
}

.wish_item_bx ul li p {
    font-size: 24px;
    color: #000000;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    letter-spacing: 0.02em;
    line-height: 32px;
}

.wish_item_bx ul li p span {
    color: #de1a22;
    font-size: 22px;
    margin-top: 8px;
    display: block;
}

.wish_item_bx ul li figure .gift_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.wish_item_bx ul li figure:hover .gift_overlay {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*new dashboard css*/

.wish_totl_count {
    margin: 15px 0 106px;
}

.wish_totl_count ul li {
    width: 23.5%;
    height: 269px;
    border: 2px solid #de1a22;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
}

.wish_totl_count ul li:last-child {
    margin-right: 0;
}

.wish_totl_count ul li figure {
    margin-bottom: 31px;
}

.wish_totl_count ul li h3 {
    font-size: 40px;
    color: #000;
    font-weight: normal;
    font-family: 'FuturaPT-Book';
    letter-spacing: 0.04em;
}

.wish_totl_count ul li h3 span {
    display: block;
    color: #1e1f1f;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    text-transform: uppercase;
    margin-top: 10px;
}

.wish_item_bx ul li h4 {
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    color: #000;
    letter-spacing: 0.02em;
    margin: 5px 0 14px;
}


/*contribution page css*/

header .header_pro_rt ul>li.buddies-icon {
    background: url(../images/buddies-icon.png) left top no-repeat;
    padding-left: 35px;
    cursor: pointer;
}

header .header_pro_rt ul>li.buddies-icon:hover {
    background: url(../images/buddies-icon-hover.png) left top no-repeat;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.wish_item_detail {
    margin: 15px 0 0;
    float: left;
    width: 100%;
}

.item_deatil_lt {
    width: 220px;
    float: left;
}

.item_deatil_lt figure {
    width: 220px;
    height: 220px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #ececec;
}

.item_detail_rt {
    float: left;
    padding: 0 0 0 28px;
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
    width: 78%;
}

.item_descrip_bx {
    width: 640px;
}

.descrop_detail_bx {
    border-bottom: 1px solid #d6d6d6;
    padding: 0 0 20px;
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}

.bottom_pro_bx h3,
.item_descrip_bx h3 {
    font-size: 22px;
    font-family: 'FuturaPT-Medium';
    color: #000;
    letter-spacing: 0.02em;
    margin: 11px 0 22px;
    font-weight: normal;
}

.bottom_pro_bx h3 {
    margin: 5px 0 30px;
}

.item_descrip_bx h4 {
    font-family: 'FuturaPT-Medium';
    font-size: 20px;
    color: #000;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    font-weight: normal;
}

.item_descrip_bx p {
    font-family: 'FuturaPT-Book';
    font-size: 18px;
    color: #000;
    letter-spacing: 0.02em;
}

.event_lt_bx {
    width: 50%;
    float: left;
}

.detail_top_bx p {
    margin-bottom: 6px;
}

.event_lt_bx p:last-child {
    margin-bottom: 0;
}

.item_descrip_bx p strong {
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    letter-spacing: 0.02em;
}

.url_link ul {
    width: 100%;
    display: block;
    margin-bottom: 17px;
}

.url_link ul li {
    display: inline-block;
    margin-right: 9px;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.02em;
}

.url_link ul li strong {
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
}

.url_link ul li:first-child:after,
.url_link ul li:last-child:after {
    display: none;
}

.url_link ul li:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: #9c9c9c;
    margin: 0 0 0 10px;
}

.url_link ul li a {
    color: #000;
    text-decoration: underline;
    font-family: 'FuturaPT-Book';
}

.url_link ul li a:hover {
    color: #e51b23;
    text-decoration: none;
}

.event_lt_bx.event_rt_bx p a {
    color: #de1a22;
    text-decoration: underline;
    float: right;
}

.event_lt_bx.event_rt_bx p a:hover {
    color: #000;
    text-decoration: none;
}

.event_rt_bx {
    padding: 12px 0 0;
}

.bottom_pro_bx {
    width: 100%;
    float: left;
}

.bottom_pro_bx ul li {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 10px;
}

.bottom_pro_bx ul li figure {
    width: 68px;
    height: 68px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.bottom_pro_bx ul li figure img {
    width: 68px;
    height: 68px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.bottom_pro_detail {
    display: inline-block;
    vertical-align: middle;
}

.bottom_pro_detail h5 {
    font-size: 15px;
    color: #000000;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 0.02em;
}

.bottom_pro_detail h5 a {
    color: #000;
}

.bottom_pro_detail h5 a:hover {
    color: #de1a22;
}

.bottom_pro_detail h5 span {
    display: block;
    color: #de1a22;
    margin: 4px 0 0;
}


/*comment part css*/

.comment_bx {
    margin: 50px 0 92px;
    float: left;
    width: 100%;
}


/*peter wish lish*/

.item_deatil_lt {
    width: 180px;
}

.item_deatil_lt figure {
    width: 180px;
    height: 180px;
}

.full_wish_list {
    float: right;
    margin-right: 16%;
}

.full_wish_list .wish_full_bth {
    background-color: #e41b23;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
    padding: 9px 18px;
    border: 1px solid transparent;
    letter-spacing: 0.025em;
    display: inline-block;
    text-transform: uppercase;
}

.gift_jim_btn a:hover,
.full_wish_list .wish_full_bth:hover {
    border-color: #e41b23;
    background-color: transparent;
    color: #e41b23;
}

.full_wish_list .wish_full_bth .fa {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin: -3px 6px 0 0;
}

.gift_jim_btn {
    text-align: center;
    margin: 26px 0 0;
}

.gift_jim_btn a {
    background-color: #e41b23;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
    padding: 9px 18px;
    border: 1px solid transparent;
    letter-spacing: 0.025em;
    display: inline-block;
    width: 152px;
    text-align: center;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.peter_bottom_pro h5 span {
    color: #00b050;
}

.item_detail_rt {
    width: -webkit-calc(100% - 180px);
    width: calc(100% - 180px);
    width: 82%;
}


/*peter wish lish paypal*/

.paypal_bx {
    width: 630px;
}

.current_contrib_bx {
    border-bottom: 1px solid #d6d6d6;
    padding: 38px 0 18px;
}

.current_contrib_bx p {
    color: #de1a22;
    font-size: 18px;
    font-weight: normal;
    font-family: 'FuturaPT-Book';
    letter-spacing: 0.02em;
    margin-bottom: 6px;
}

.current_contrib_bx p strong {
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
}

.paypal_detail_bx {
    padding: 39px 0 0;
    float: left;
    width: 100%;
    margin-bottom: 140px
}

.paypal_detail_bx h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    color: #000;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    letter-spacing: 0.02em;
    margin-bottom: 46px;
}

.paypal_detail_bx h3 img {
    margin-left: 30px;
}

.paypal_detail_bx h4 {
    font-size: 22px;
    color: #000;
    letter-spacing: 0.02em;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
    margin-bottom: 20px;
}

.paypal_detail_bx h4 strong {
    font-weight: normal;
    min-width: 249px;
    display: inline-block;
}

.paypal_detail_bx h4 span {
    border: 1px solid #d3d3d3;
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 46px;
    text-align: center;
    padding: 10px;
    font-family: 'FuturaPT-Book';
}

.paypal_detail_bx .paypal_btn {
    margin: 28px 0 0;
    display: inline-block;
}

.paypal_detail_bx .paypal_btn:hover {
    opacity: 0.7;
}


/*friend request css*/

.friend_requst_main {
    margin-bottom: 112px;
    width: 100%;
    float: left;
}

.add_friend_rt {
    background-color: #f9f9f9;
}

.header_frd {
    border-bottom: 0;
}

.frd_request_lt {
    max-width: 890px;
    width: 100%;
    float: left;
}

.frd_reqt_head h3 {
    font-size: 27px;
    color: #000000;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-family: 'FuturaPT-Medium';
    display: inline-block;
    margin-top: 13px;
}

.frd_reqt_head .find_frd_btn {
    font-size: 20px;
    display: inline-block;
    color: #000;
    font-weight: normal;
    letter-spacing: 0.02em;
    font-family: 'FuturaPT-Medium';
    border: 2px solid #d1d1d1;
    border-radius: 2px;
    padding: 10px 20px;
    float: right;
}

.frd_reqt_head .find_frd_btn:hover {
    background-color: #d1d1d1;
}

.requst_list_bx {
    width: 100%;
    float: left;
    margin: 38px 0 0;
}

.requst_list_bx ul li:nth-child(odd) {
    background-color: #ececec;
}

.requst_list_bx ul li {
    padding: 16px 25px;
}

.requst_list_bx ul li .profil_detail {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
}

.requst_list_bx ul li .profil_detail figure {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.requst_list_bx ul li .profil_detail figure img {
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.requst_list_bx ul li .profil_detail .prof_name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 21px;
}

.requst_list_bx ul li .profil_detail .prof_name h4,
.requst_list_bx ul li .profil_detail .prof_name h3 {
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 0.02em;
}

.requst_list_bx ul li .profil_detail .prof_name h3 a {
    color: #000000;
}

.requst_list_bx ul li .profil_detail .prof_name h3 a:hover {
    color: #e41b23;
}

.requst_list_bx ul li .profil_detail .prof_name h4 {
    color: #808080;
    margin-top: 4px;
}

.accept_btn_out {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.accept_btn_out a {
    background-color: #e41b23;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
    padding: 11px 10px;
    width: 130px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-right: 12px;
    border: 1px solid transparent;
    letter-spacing: 0.02em;
}

.accept_btn_out a:hover {
    background-color: transparent;
    border-color: #e41b23;
    color: #e41b23;
}

.accept_btn_out a:last-child {
    margin-right: 0;
}

.frd_request_lt.frd_know_rt {
    max-width: 421px;
    width: 100%;
    float: right;
    background-color: #ececec;
    padding: 16px 40px 36px;
}

.frd_know_rt .requst_list_bx {
    margin: 20px 0 0;
}

.frd_know_rt .requst_list_bx ul li {
    padding: 17px 0;
    border-bottom: 1px solid #d5d5d5;
}

.frd_know_rt .requst_list_bx ul li:last-child {
    border-bottom: 0;
}

.frd_know_rt .requst_list_bx ul li .profil_detail {
    width: 100%;
}


/*notification page css*/

.frd_request_lt.Invite.buddies {
    max-width: 830px;
    background-color: #ececec;
    padding: 34px 36px 64px;
}

.Invite.buddies .requst_list_bx {
    margin: 8px 0 0;
}

.Invite.buddies .requst_list_bx ul li {
    padding: 19px 0 22px;
    border-bottom: 1px solid #d5d5d5;
}

.Invite.buddies .requst_list_bx ul li .profil_detail .prof_name {
    padding-top: 23px;
}

.Invite.buddies .requst_list_bx ul li .profil_detail .prof_name h4 {
    font-size: 15px;
}

.Invite.buddies .requst_list_bx ul li .profil_detail .prof_name h6 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    font-family: 'FuturaPT-Book';
    margin: 8px 0 0;
}

.see_more_btn {
    width: 180px;
    border: 2px solid #b7b7b7;
    display: inline-block;
    text-align: center;
    padding: 14px 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 37px 0 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: #000;
    font-family: 'FuturaPT-Medium';
}

.see_more_btn:hover,
.see_more_btn:focus {
    background-color: #b7b7b7;
    color: #fff;
}


/*invite friend page css*/

.invite_main_bx {
    padding-right: 102px;
    width: 100%;
    display: inline-block;
}

.invite_main_bx {
    max-width: 1258px;
    width: 100%;
}

.search_bx label {
    font-size: 20px;
    color: #000;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    margin-right: 4px;
}

.search_outr {
    position: relative;
    height: 60px;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
}

.search_bx .form-control {
    height: 100%;
    font-size: 20px;
    font-weight: normal;
    border: 0;
    background-color: #eeeeee;
    border-radius: 2px;
    box-shadow: none;
    color: #000;
    font-family: 'FuturaPT-Book';
    letter-spacing: 0.02em;
    padding-right: 60px;
}

.search_btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    color: #aaaaaa;
    font-size: 20px;
    border: 0;
    padding: 0 25px;
    box-shadow: 0;
}

.search_btn:hover,
.search_btn:focus {
    color: #000;
}

.send_invite_bx {
    margin: 67px 0 0;
    position: relative;
    border-bottom: 1px solid #ececec;
    float: left;
    width: 100%;
    padding-bottom: 37px;
}

.send_invite_bx h3 {
    font-size: 27px;
    font-weight: normal;
    color: #000000;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.send_invite_bx .form-group {
    margin-bottom: 24px;
    float: left;
    width: 100%;
}

.send_invite_bx .form-group:last-child {
    margin-bottom: 0;
}

.send_invite_bx .form-group .custm_field {
    width: 278px;
    float: left;
    margin-right: 20px;
}

.send_invite_bx .form-group .custm_field.email_field {
    width: 390px;
}

.send_invite_bx .form-group .custm_field.sub_btn_field {
    width: auto;
}

.send_invite_bx .form-group .custm_field.sub_btn_field .submit_btn {
    background-color: #e41b23;
    color: #fff;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 0.02em;
    border: 1px solid transparent;
    font-family: 'FuturaPT-Medium';
    height: 60px;
    width: 150px;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
}

.send_invite_bx .form-group .custm_field.sub_btn_field .submit_btn:hover,
.send_invite_bx .form-group .custm_field.sub_btn_field .submit_btn:focus {
    background-color: transparent;
    border-color: #e41b23;
    color: #e41b23;
}

.send_invite_bx .form-group .custm_field .form-control {
    height: 60px;
    font-size: 20px;
    font-weight: normal;
    border-color: #cbcbcb;
    background-color: #eeeeee;
    border-radius: 2px;
    box-shadow: none;
    color: #000;
    font-family: 'FuturaPT-Book';
    letter-spacing: 0.02em;
}

.send_invite_bx .form-group .custm_field:last-child {
    margin-right: 0;
}

.add_field_btn {
    position: absolute;
    top: 62px;
    right: -79px;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    border: 4px solid #e41b23;
    background: url(../images/plus-icon2.png) center 50% no-repeat;
}

.add_field_btn:hover {
    background: #e41b23 url(../images/plus-icon_white.png) center 50% no-repeat;
}

.send_invite_bx.sm_bx {
    margin: 48px 0 20px;
    border-bottom: 0;
}

.sm_bx h3 {
    margin-bottom: 38px;
}

.sm_bx ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.sm_bx ul li:last-child {
    margin-right: 0;
}

.sm_bx ul li a:hover img {
    opacity: 0.7;
}


/*prepare your wish*/

.prepare_wish_bx {
    width: 659px;
    padding: 43px 33px;
    display: inline-block;
    background-color: #ececec;
    margin-right: 25px
}

.prepare_wish_bx:last-child {
    margin-right: 0;
}

.prepare_wish_bx h3,
.prepare_wish_bx h4 {
    font-size: 27px;
    color: #000;
    letter-spacing: 0.02em;
    font-family: 'FuturaPT-Medium';
    text-transform: uppercase;
    font-weight: normal;
}

.prepare_wish_bx h4 {
    margin-top: 13px;
}

.add_wish_btn_bx {
    text-align: right;
    margin-top: -9px;
    float: left;
    width: 100%;
}

.add_wish_btn_bx a {
    color: #de1a22;
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 0.02em;
    display: inline-block;
    font-family: 'FuturaPT-Book';
    line-height: normal;
}

.add_wish_btn_bx #round_plus,
.add_wish_btn_bx #round_plus2,
.add_wish_btn_bx #round_plus3,
.add_wish_btn_bx #round_plus4 {
    width: 25px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    fill: #de1a22;
    margin-top: -5px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.add_wish_btn_bx a:hover {
    color: #000;
}

.add_wish_btn_bx a:hover #round_plus,
.add_wish_btn_bx a:hover #round_plus2,
.add_wish_btn_bx a:hover #round_plus3,
.add_wish_btn_bx a:hover #round_plus4 {
    fill: #000;
}

.wish_list_form {
    margin: 25px 0 33px;
    width: 100%;
    float: left;
}

.wish_list_form .form-group {
    margin-bottom: 20px;
}

.title_label {
    width: 39%;
    display: inline-block;
}

.title_label label {
    font-size: 20px;
    color: #000;
    font-weight: normal;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 0.02em;
    margin: 6px 0 0;
}

.title_label label span {
    color: #de1a22;
}

.input_fiekd_sec {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.input_fiekd_sec .form-control {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-family: 'FuturaPT-Book';
    font-weight: normal;
    font-size: 20px;
    height: 48px;
}

.input_fiekd_sec .form-control.date_clandr {
    background: #fff url(../images/calendar.svg) 96% 50% no-repeat;
    background-size: 19px 19px;
    padding-right: 40px;
}

.input_fiekd_sec .form-control.text_area_cont {
    height: 119px;
    resize: none;
}

.input_fiekd_sec select.form-control {
    background: #fff url(../images/down-arrow-2.png) 96% 52% no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

.skip_btn_sec {
    margin: 86px 0 59px;
    text-align: center;
    padding-right: 6%;
}

.skip_btn_sec ul li {
    vertical-align: top;
    display: inline-block;
    margin-right: 16px;
}

.skip_btn_sec ul li:last-child {
    margin-right: 0;
}

.skip_btn_sec ul li a {
    min-width: 127px;
    background-color: #878787;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    font-family: 'FuturaPT-Book';
    display: block;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.skip_btn_sec ul li a.red_btn {
    background-color: #de1a22;
}

.skip_btn_sec ul li a.red_btn:hover,
.skip_btn_sec ul li a.red_btn:focus {
    background-color: transparent;
    border-color: #de1a22;
    color: #de1a22;
}

.skip_btn_sec ul li a:hover,
.skip_btn_sec ul li a:focus {
    background-color: transparent;
    border-color: #878787;
    color: #878787;
}


/*wish list form csss*/


/*thank you pop css*/

.thank_pop_up .modal-dialog {
    width: 700px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
}

.thank_pop_up .modal-content {
    border: 0;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    padding: 50px 20px 86px
}

.thank_pop_in figure {
    margin-bottom: 33px;
}

.thank_pop_in h3 {
    font-size: 45px;
    color: #000;
    font-weight: normal;
    font-family: 'FuturaPT-Book';
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.thank_pop_in h3 strong {
    font-family: 'FuturaPT-Demi';
}

#giftitem {
    width: 71px;
    height: 91px;
    fill: #e51b23;
}

.pop_up_close {
    position: absolute;
    top: -30px;
    right: -20px;
    width: 65px;
    height: 65px;
    font-size: 38px;
    color: #fff;
    border: 5px solid #fff !important;
    border-radius: 100%;
    background-color: #e41b23 !important;
    opacity: 1;
    line-height: 30px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.pop_up_close:hover,
.pop_up_close:focus {
    color: #fff;
    opacity: 1;
    border-color: #e41b23 !important;
}


/*paypal pop up css*/

#paypal_pop.thank_pop_up .modal-content {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    padding: 48px 20px 74px
}

#paypal_pop .thank_pop_in figure {
    margin-bottom: 80px;
}

.pop_enter_btn {
    display: table;
    margin: auto;
    width: 198px;
    background-color: #e41b23;
    font-size: ;
    color: #fff;
    padding: 12px 10px 12px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 19px;
    font-family: 'FuturaPT-Medium';
    border: 1px solid transparent;
}

.pop_enter_btn:hover,
.pop_enter_btn:focus {
    border-color: #e41b23;
    background-color: transparent;
    color: #e41b23;
}

@media (max-width:1499px) {
    header svg#logo {
        width: 180px;
        height: 49px;
    }
    header .header_pro_rt ul li figure {
        width: 46px;
        height: 46px;
    }
    .dashboard_lt {
        width: 20%;
        top: 75px;
    }
    .dashboard_rt {
        width: 80%;
        margin: 75px 0 61px 28%;
        padding: 30px;
    }
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        .dashboard_rt {
            width: 80%;
            margin: 75px 0 61px 28%;
            padding: 30px;
        }
    }
    .dashboard_lt h1 {
        font-size: 25px;
        padding: 30px 23px 30px;
    }
    .add_friend_bx {
        max-width: 585px;
        padding: 30px 33px 34px;
    }
    .add_friend_bx h3 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .find_friend_btn a {
        padding: 10px 20px 11px;
        font-size: 16px;
    }
    .find_friend_btn {
        margin-bottom: 33px;
    }
    .checkbox label::before {
        width: 30px;
        height: 30px;
    }
    .checkbox label::after {
        width: 16px;
        height: 13px;
        background-size: 100% 100%;
    }
    .frd_list ul li figure {
        width: 70px;
        height: 70px;
        margin: 0 15px 0 13px;
    }
    .publish_btn {
        margin: 39px 0 0;
    }
    .back_btn {
        font-size: 20px;
    }
    footer p {
        font-size: 15px;
    }
    /*friend family profile css*/
    .filler_bx p {
        font-size: 15px;
    }
    .filler_bx p {
        font-size: 15px;
    }
    .filler_bx select {
        height: 40px;
    }
    .pro_lt_bx figure {
        width: 75px;
    }
    .pro_detail {
        margin-left: 15px;
    }
    .pro_detail h3 {
        font-size: 19px;
    }
    .wish_profle_bx {
        margin-bottom: 30px;
    }
    .wish_item_bx ul li h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .wish_item_bx ul li figure {
        width: 200px;
        height: 200px;
        margin: 24px 0 13px;
    }
    .wish_item_bx ul li p {
        font-size: 18px;
        line-height: 27px;
    }
    .wish_item_bx ul li p span {
        font-size: 16px;
    }
    /*    new dashboard css*/
    .wish_totl_count {
        margin: 0 0 60px;
    }
    .wish_totl_count ul li {
        margin-right: 14px;
        height: 200px;
    }
    .wish_totl_count ul li figure {
        margin-bottom: 10px;
    }
    .wish_totl_count ul li figure img {
        width: 60px;
    }
    .wish_totl_count ul li h3 {
        font-size: 30px;
    }
    .wish_totl_count ul li h3 span {
        font-size: 15px;
        margin-top: 7px;
    }
    .wish_item_bx ul li h4 {
        font-size: 16px;
        margin: 5px 0 12px;
    }
    /*    contriution page css*/
    .bottom_pro_bx h3,
    .item_descrip_bx h3 {
        font-size: 19px;
        margin: 11px 0 14px;
    }
    .item_descrip_bx h4 {
        font-size: 17px;
    }
    .item_descrip_bx p {
        font-size: 16px;
    }
    .url_link ul li {
        font-size: 16px;
    }
    .bottom_pro_bx ul li figure {
        width: 58px;
        height: 58px;
        margin-right: 10px;
    }
    .bottom_pro_bx ul li figure img {
        width: 58px;
        height: 58px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
    }
    .bottom_pro_detail h5 {
        font-size: 14px;
    }
    /*    peter wish list page css*/
    .gift_jim_btn a,
    .full_wish_list .wish_full_bth {
        font-size: 16px;
    }
    /*    peter wish list paypal css*/
    .current_contrib_bx p {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .paypal_detail_bx {
        padding: 30px 0 0;
    }
    .paypal_detail_bx h3 {
        font-size: 24px;
        margin-bottom: 36px;
    }
    .paypal_detail_bx h4 {
        font-size: 19px;
        margin-bottom: 20px;
    }
    .paypal_detail_bx .paypal_btn img {
        width: 320px;
        display: inline-block;
    }
    /*    friend request css*/
    .friend_requst_main {
        margin-bottom: 40px;
    }
    .frd_request_lt {
        max-width: 580px;
    }
    .frd_reqt_head h3 {
        font-size: 22px;
    }
    .frd_reqt_head .find_frd_btn {
        font-size: 17px;
    }
    .requst_list_bx {
        margin: 28px 0 0;
    }
    .requst_list_bx ul li .profil_detail figure {
        width: 60px;
        height: 60px;
    }
    .requst_list_bx ul li .profil_detail .prof_name {
        margin-left: 10px;
    }
    .requst_list_bx ul li .profil_detail .prof_name h4,
    .requst_list_bx ul li .profil_detail .prof_name h3 {
        font-size: 17px;
    }
    .accept_btn_out a {
        font-size: 15px;
        padding: 8px 10px;
        width: 90px;
        margin-right: 6px;
    }
    .frd_request_lt.frd_know_rt {
        max-width: 360px;
        padding: 16px 30px 36px;
    }
    /*    notification page*/
    .frd_request_lt.Invite.buddies {
        max-width: 580px;
        padding: 16px 30px 44px;
    }
    .Invite.buddies .requst_list_bx {
        margin: 20px 0 0;
    }
    .Invite.buddies .requst_list_bx ul li .profil_detail .prof_name h6 {
        font-size: 17px;
        margin: 4px 0 0;
    }
    .Invite.buddies .requst_list_bx ul li .accept_btn_out a {
        width: 100px;
    }
    .Invite.buddies .requst_list_bx ul li {
        padding: 14px 0 19px;
    }
    .Invite.buddies .requst_list_bx ul li .profil_detail .prof_name {
        padding-top: 0;
    }
    .Invite.buddies .requst_list_bx ul li .profil_detail .prof_name h4 {
        font-size: 13px;
    }
    .Invite.buddies .see_more_btn {
        width: 140px;
        padding: 8px 10px;
        margin: 30px 0 0;
        font-size: 17px;
    }
    /*    invite page css*/
    .send_invite_bx .form-group .custm_field {
        width: 228px;
        margin-right: 15px;
    }
    .send_invite_bx .form-group .custm_field.email_field {
        width: 266px;
    }
    .search_bx .form-control,
    .send_invite_bx .form-group .custm_field .form-control {
        height: 50px;
        font-size: 18px;
    }
    .send_invite_bx .form-group .custm_field.sub_btn_field .submit_btn {
        font-size: 19px;
        height: 50px;
    }
    .search_outr {
        position: relative;
        height: 100%;
        border: 1px solid #cbcbcb;
        border-radius: 2px;
    }
    .search_bx label {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .send_invite_bx h3 {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .send_invite_bx.sm_bx {
        margin: 35px 0 20px;
    }
    .send_invite_bx {
        margin: 40px 0 0;
        padding-bottom: 17px;
    }
    .add_field_btn {
        top: 51px;
        right: -67px;
        width: 33px;
        height: 33px;
    }
    /*    prepare wish lish*/
    .prepare_wish_bx {
        width: 48%;
        padding: 33px 23px;
        margin-right: 2%;
    }
    .prepare_wish_bx h3,
    .prepare_wish_bx h4 {
        font-size: 22px;
    }
    .prepare_wish_bx h4 {
        margin-top: 6px;
    }
    .add_wish_btn_bx a {
        font-size: 19px;
    }
    .title_label label {
        font-size: 16px;
    }
    .input_fiekd_sec .form-control {
        font-size: 17px;
        height: 38px;
    }
    .wish_list_form .form-group {
        margin-bottom: 15px;
    }
    .skip_btn_sec {
        margin: 56px 0 39px;
    }
    .skip_btn_sec ul li a {
        font-size: 22px;
    }
    /* thank you pop up css*/
    #giftitem {
        width: 61px;
        height: 81px;
    }
    .thank_pop_in figure {
        margin-bottom: 13px;
    }
    .thank_pop_in h3 {
        font-size: 35px;
    }
    .thank_pop_up .modal-content {
        padding: 40px 20px 56px;
    }
    .pop_up_close {
        width: 55px;
        height: 55px;
        font-size: 33px;
    }
    /*    paypal pop css*/
    #paypal_pop .thank_pop_in figure img {
        width: 40%;
    }
    #paypal_pop .thank_pop_in figure {
        margin-bottom: 40px;
    }
    .pop_enter_btn {
        width: 168px;
        font-size: 17px;
    }
    #paypal_pop.thank_pop_up .modal-content {
        padding: 48px 20px 64px;
    }
}
