@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'), url('../fonts/FuturaPT-Medium.woff') format('woff'), url('../fonts/FuturaPT-Medium.ttf') format('truetype'), url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg'), url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2'), url('../fonts/FuturaPT-Light.woff') format('woff'), url('../fonts/FuturaPT-Light.ttf') format('truetype'), url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg'), url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT-Demi.woff2') format('woff2'), url('../fonts/FuturaPT-Demi.woff') format('woff'), url('../fonts/FuturaPT-Demi.ttf') format('truetype'), url('../fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg'), url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'), url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf') format('truetype'), url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg'), url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*:hover,
*:focus {
    outline: none
}

img {
    max-width: 100%;
    height: auto;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #505050;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #000;
}

ol,
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*
h2 {
    font-size: 40px;
    color: #2a2a2a;
    line-height: 50px;
    font-weight: 400;
}
*/

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: normal;
}

a {
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

strong,
b {
    font-weight: bold;
}

cite {
    font-style: normal;
}

em,
i {
    font-style: italic;
}

input,
textarea,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

::-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

.newsletter_form .form-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}

.newsletter_form .form-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

.newsletter_form .form-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

.newsletter_form .form-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

header,
section,
footer {}

.form-control.text_capitial {
    text-transform: capitalize;
}

.display_table {
    display: table;
    height: 100%;
    width: 100%;
}

.display_cell {
    display: table-cell;
    vertical-align: middle;
}

header {
    padding: 10px 0;
}

header nav.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    border: 0;
    margin-bottom: 0;
    min-height: auto;
    border-radius: 0;
}

.header_logo {
    width: 230px;
    height: 62px;
    vertical-align: middle;
    display: inline-block;
}
.header_logo img { 
    width: 100%;
}
header .nav>li>a {
    padding: 0;
}  

header .navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
    font-family: 'FuturaPT-Book';
    font-weight: normal;
    color: #000;
    text-transform: capitalize;  
}

header .navbar-inverse .navbar-nav>li.current-menu-item>a {
    color: #e51b23 !important;
}

header .navbar-inverse .navbar-nav>li {
    margin-right: 81px;
    vertical-align: middle;
    float: none;
    display: inline-block;
}

header .navbar-inverse .navbar-nav>li:last-child {
    margin-right: 0;
}

header .navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #e51b23;
    background-color: transparent;
}

header .navbar-header {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

header .navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    display: inline-block !important;
    vertical-align: middle;
    text-align: right;
    width: 83.7%;
    padding-right: 0;
}

header .navbar-nav {
    float: none;
    margin: 0;
    display: inline-block;
}

.pop_up_head img
{
    width: 200px;
}


.login_bx .login_com_btn {
    width: 116px;
    text-align: center;
    border: 1px solid #878787;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    font-size: 15px;
    font-family: 'FuturaPT-Demi';
    font-weight: normal;
    text-transform: uppercase;
    color: #373737;
    padding: 6px 10px;
    vertical-align: middle;
}

.login_bx .login_com_btn.sign_up_btn {
    background-color: #e51b23;
    color: #fff;
    margin-left: 14px;
    border-color: #e51b23;
}

.login_bx .login_com_btn:hover,
.login_bx .login_com_btn:focus {
    background-color: #878787;
    color: #fff;
}

.login_bx .login_com_btn.sign_up_btn:hover,
.login_bx .login_com_btn.sign_up_btn:focus {
    background-color: transparent;
    color: #e51b23;
}

.login_bx .login_com_btn .fa {
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 6px;
    line-height: 0px;
    margin-top: -5px;
}


/*banner sec css start*/

.banner_con {
    position: relative;
}

.banner_con .carousel .carousel-inner .item {
    height: 690px;
    background-position: center top;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    text-align: center;
    z-index: 5;
}

.banner_con .carousel .carousel-inner .item h1 {
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: normal;
    font-family: 'FuturaPT-Demi';
    margin-bottom: 52px;
}

.banner_con .carousel .carousel-inner .item .item_overlay {
    background-color: rgba(25, 25, 25, 0.7);
    height: 100%;
}

.banner_con .carousel .carousel-inner .item .item_overlay .container,
.banner_con .carousel .carousel-inner .item .item_overlay .container .display_table {
    height: 100%;
}

.banner_con .carousel .carousel-control.left,
.banner_con .carousel .carousel-control.right {
    background-image: none;
}
.banner_con .carousel .carousel-control:hover{opacity: 0.6;}
.banner_con .carousel .carousel-control.left {
    left: 15px;
}

.banner_con .carousel .carousel-control.right {
    right: 15px;
}

.banner_con .carousel .carousel-control {
    position: absolute;
    top: 45%;
    bottom: auto;
    width: auto;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: 1;
    z-index: 10;
}

.customs_btn {
    width: 293px;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    font-family: 'FuturaPT-Demi';
    background-color: #e51b23;
    border: 1px solid transparent;
    padding: 18px 10px 18px;
    display: inline-block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.customs_btn:hover,
.customs_btn:focus {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

.arrow_bx {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.arrow_bx .container {
    position: relative;
    height: 100%;
}


/*how it work sec css*/

.how_it_con {
    text-align: center;
    padding: 83px 0;
    position: relative;
}

.how_it_con .container {
    position: relative;
    z-index: 999;
}

.section_heading h2 {
    font-size: 40px;
    color: #000;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
}

.section_heading h2:after {
    content: '';
    background-color: #e51b23;
    margin: 17px auto 0;
    display: block;
    width: 57px;
    height: 3px;
}

.section_heading p {
    font-size: 20px;
    color: #000;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-family: 'FuturaPT-Light';
}

.how_work_inn {
    margin: 40px 0 0;
}

.how_work_inn ul li {
    display: inline-block;
    width: 270px;
    margin-right: 19px;
    background-color: #f6f6f6;
    padding: 24px 22px;
    min-height: 270px;
    border-bottom: 5px solid transparent;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
        -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}


.how_work_inn ul li:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
}


.how_work_inn ul li:first-child {
    border-color: #64b1f8;
}

.how_work_inn ul li:first-child:hover {
    border-color: #2683d9;
}

.how_work_inn ul li:nth-child(2) {
    border-color: #ff0f27;
}

.how_work_inn ul li:nth-child(2):hover {
    border-color: #d40b1f;
}

.how_work_inn ul li:nth-child(3) {
    border-color: #78cd5b;
}

.how_work_inn ul li:nth-child(3):hover {
    border-color: #46aa23;
}

.how_work_inn ul li:nth-child(4) {
    border-color: #fab442;
}

.how_work_inn ul li:nth-child(4):hover,
.how_work_inn ul li:nth-child(5):hover {
    border-color: #da9422;
}

.how_work_inn ul li:nth-child(5) {
    border-color: #fab442;
}

.how_work_inn ul li:last-child {
    margin-right: 0;
}

.how_work_inn ul li figure {
    margin-bottom: 30px;
}

.how_work_inn ul li h3 {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    margin-bottom: 9px;
    letter-spacing: 0.5px;
}

.how_work_inn ul li h3 a {
    color: #000;
}

.how_work_inn ul li h3 a:hover {
    color: #e51b23;
}

.how_work_inn ul li p {
    font-size: 16px;
    color: #000000;
    font-family: 'FuturaPT-Book';
    line-height: 27px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.flower_item {
    position: absolute;
    top: 0;
    right: 0;
}


/*footer part css*/

footer {
    border-top: 2px solid #ededed;
    padding: 62px 0 24px;
}

.footer_bx {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
}

.footer_bx h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    color: #262626;
    font-family: 'FuturaPT-Book';
    margin-bottom: 23px;
    letter-spacing: 2px;
}

.footer_bx.footer_logo {
    width: 304px;
    padding: 62px 0;
}

.footer_logo img {
    width: 170px;
    height: 52px;
}

.quick_nav {
    width: 406px;
    display: inline-block;
}

.quick_nav ul li {
    width: 49%;
    float: left;
    font-size: 18px;
    font-weight: normal;
    color: #262626;
    font-family: 'FuturaPT-Book';
    margin-bottom: 9px;
    letter-spacing: 0.5px;
}

.quick_nav ul li:nth-child(2n+2) {
    margin-left: 1%;
}

.quick_nav ul li a {
    color: #262626;
}

.quick_nav ul li.current-menu-item a,
.quick_nav ul li a:hover,
.quick_nav ul li a:focus {
    color: #e51b23;
}

.contact_bx {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    width: 346px;
    padding: 0 70px;
}

.contact_bx ul li {
    position: relative;
    padding-left: 30px;
    display: block;
    margin-left: 0;
    width: 100%;
    margin-bottom: 22px;
}

.contact_bx ul li:last-child {
    margin-bottom: 0;
}

.quick_nav.contact_bx ul li:nth-child(2n+2) {
    margin-left: 0;
}

.contact_bx ul li span {
    width: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.contact_bx ul li span .fa {
    color: #353535;
}

.contact_bx ul li span .fa.fa-mobile {
    font-size: 25px;
}

.contact_bx ul li span .fa.fa-map-marker {
    font-size: 22px;
    margin-top: 3px;
}

.contact_bx ul li a:hover {
    color: #e51b23;
}

.email_sub_bx {
    width: 308px;
    float: right;
}

.email_bx {
    position: relative;
    height: 42px;
    margin-bottom: 40px;
}

.email_bx .form-control {
    background-color: #e4e5e6;
    padding: 6px 110px 6px 15px;
    border: 0;
    outline: 0;
    height: 42px;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    color: #262626;
    font-family: 'FuturaPT-Book';
    letter-spacing: 0.5px;
}

.submit_btn {
    background-color: #e51b23;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 19px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    text-transform: uppercase;
    height: 42px;
    padding: 0 17px;
}

.submit_btn:hover {
    background-color: #fd000a;
}

.email_sub_bx ul li {
    display: inline-block;
    margin-right: 23px;
}

.email_sub_bx ul li:last-child {
    margin-right: 0;
}

.email_sub_bx ul li a {
    color: #353535;
    font-size: 22px;
}

.email_sub_bx ul li a:hover {
    color: #e51b23;
}

.copyright_con {
    margin-top: 78px;
}

.copyright_con p {
    font-size: 16px;
    color: #4e4e4e;
    font-weight: normal;
    font-family: 'FuturaPT-Book';
    text-align: center;
    position: relative;
}

.copyright_con p span {
    position: absolute;
    left: 0;
    top: 0;
}

.copyright_con p span a {
    color: #0475ba;
}

.copyright_con p span a:hover {
    color: #4e4e4e;
}


/*faqs page css*/

.baner_inn_con {
    height: 320px;
    text-align: center;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    background-size: cover !important
}

.baner_inn_con .banner_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.baner_inn_con .banner_overlay .container {
    height: 100%;
}

.banner_inn_contet h1 {
    font-size: 71px;
    color: #fff;
    font-family: 'FuturaPT-Demi';
    font-weight: normal;
    text-transform: uppercase;
    line-height: 64px;
    letter-spacing: 0.06em;
    margin-bottom: 14px;
}

.banner_inn_contet p {
    font-size: 30px;
    color: #fff;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    text-transform: uppercase;
    line-height: 64px;
    letter-spacing: 0.36em;
}


/*faqs par css*/

.faqs_con {
    padding: 69px 0 76px;
}


/*according css*/

.acc_inn {
    margin-top: 56px;
}

.accordion {
    width: 100%;
}

.accordion li {
    margin-bottom: 8px;
    border: 2px solid #eaeaea;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.accordion li:last-child {
    margin-bottom: 0;
}
.accordion li:hover .link
{
    background-color: #eee;
}
.accordion .link {
    cursor: pointer;
    display: block;
    padding: 20px 28px;
    color: #5a5a5a;
    background-color: transparent;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.accordion .link:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 25px;
    width: 29px;
    height: 29px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #e51b23 url(../images/minus-icon.jpg) no-repeat center;
        -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.accordion .link h3 {
    font-family: 'FuturaPT-Book';
    font-size: 18px;
    padding-right: 22px;
}

.accordion li.open .link:after {
    content: "";
    background: #e51b23 url(../images/plus-icon.png) no-repeat center;
}

.accordion li.open {
    margin-bottom: 39px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.accordion li.open .link {
    border-bottom: 0;
    padding-bottom: 20px;
    background-color: #eee;
    margin-bottom: 10px;
}

.accordion li.default .submenu {
    display: block;
}

.submenu {
    display: none;
    padding: 0px 52px 34px 28px;
    background-color: transparent;
}

.submenu p {
    font-size: 18px;
    color: #282727;
    font-family: 'FuturaPT-Light';
    line-height: 32px;
    letter-spacing: normal;
}


/*wall page css*/

.wall_outr {
    margin-top: 33px;
    float: left;
    width: 100%;
}

.wall_lt_bx {
    width: 74.6%;
    float: left;
    padding-right: 30px;
}

.wall_lt_bx .wall_detail_bx figure {
    margin-bottom: 37px;
    float: left;
    width: 100%;
}

.wall_lt_bx .wall_detail_bx figure img {
    width: 100%;
    float: left;
}

.wall_lt_bx .wall_detail_bx h3 {
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Book';
    margin-bottom: 15px;
}

.wall_lt_bx .wall_detail_bx p {
    color: #231f20;
    font-size: 16px;
    font-family: 'FuturaPT-Light';
    line-height: 30px;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}

.wall_right_bx {
    width: 23.5%;
    float: right;
}

.wall_right_bx .seacrh_bx {
    width: 100%;
    border: 1px solid #e2e2e2;
    position: relative;
    height: 55px;
    float: left;
}

.wall_right_bx .seacrh_bx input[type="text"] {
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Light';
    box-shadow: none;
    border-radius: 0;
    border: 0;
    height: 100%;
    padding: 6px 20px;
    padding-right: 54px;
}

.wall_right_bx .seacrh_bx .search_btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    text-align: center;
    color: #636363;
    font-size: 18px;
    padding: 0 20px;
    background-color: transparent;
}

.wall_right_bx .seacrh_bx .search_btn:hover {
    color: #e51b23;
}

.wall_sm_bx {
    border-top: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
    padding: 10px 0;
    margin: 14px 0 0;
    float: left;
    width: 100%;
}

.post_by_bx {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.wall_lt_bx .wall_detail_bx .post_by_bx p {
    margin-bottom: 0;
    font-size: 17px;
    color: #707070;
    letter-spacing: normal;
}

.wall_sm_bx ul {
    width: 70%;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.wall_sm_bx ul li {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #e9e8e8;
    padding: 7px 25px;
    font-size: 17px;
    font-family: 'FuturaPT-Light';
}

.wall_sm_bx ul li:last-child {
    padding-right: 0;
    border-right: 0;
}

.wall_sm_bx ul li a {
    color: #707070;
}

.wall_sm_bx ul li a .fa {
    margin-right: 7px;
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
    margin-top: -5px;
}

.wall_sm_bx ul li a:hover {
    color: #000;
}

.wall_sm_bx ul li a:hover .fa {
    opacity: 0.8;
}

.wall_sm_bx ul li a .fa.fa-thumbs-o-up {
    color: #2464cd;
}

.wall_sm_bx ul li a .fa.fa-share-alt {
    color: #e05252;
}

.wall_sm_bx ul li a .fa.fa-comments-o {
    color: #36dbdd;
}


/*comment sec css*/

.comment_bx {
    width: 100%;
    float: left;
    margin-top: 70px;
}

.comment_bx figure img {
    width: 100%;
    float: left;
}

.comment_bx h3 {
    color: #231f20;
    font-size: 30px;
    font-family: 'FuturaPT-Light';
    margin-bottom: 40px;
}

.comment_bx .form-group {
    width: 100%;
    float: left;
    margin-bottom: 21px;
}

.comment_bx .form-group:last-child {
    margin-bottom: 0;
}

.comment_bx .form-group .devide_field {
    width: 49%;
    float: left;
    margin-right: 2%;
}

.comment_bx .form-group .devide_field:nth-child(2n+2) {
    margin-right: 0;
}

.comment_bx .form-group .form-control {
    height: 53px;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    box-shadow: none;
    padding: 6px 20px;
    font-size: 17px;
    font-family: 'FuturaPT-Light';
    letter-spacing: 0.05em;
}

.comment_bx .form-group .form-control.textarea_control {
    height: 133px;
    resize: none;
    padding-top: 14px;
}

.comment_bx .form-group .customs_btn.form_sub_btn {
    font-size: 16px;
    font-family: 'FuturaPT-Medium';
    width: 223px;
    padding: 19px 10px;
    border: 1px solid transparent;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    margin-top: 18px;
}

.comment_bx .form-group .customs_btn.form_sub_btn:hover,
.comment_bx .form-group .customs_btn.form_sub_btn:focus {
    color: #e51b23;
    border-color: #e51b23;
}


/*recent post css*/

.recent_pot_bx {
    border: 1px solid #e2e2e2;
    margin-top: 38px;
    float: left;
    width: 100%;
    padding: 24px 23px 38px;
}

.recent_pot_bx h3 {
    color: #231f20;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'FuturaPT-Light';
    margin-bottom: 33px;
}

.recent_pot_bx ul li {
    position: relative;
    padding-left: 95px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.recent_pot_bx ul li:last-child {
    margin-bottom: 0;
}

.recent_pot_bx ul li figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
}

.recent_pot_bx ul li figure img {
    width: 100%;
}

.recent_pot_bx ul li figure a:hover img {
    opacity: 0.6;
}

.recent_pot_bx ul li h4 a {
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Book';
    margin-bottom: 4px;
    display: inline-block;
}

.recent_pot_bx ul li h4 a:hover {
    color: #e51b23;
}

.recent_pot_bx ul li p {
    color: #231f20;
    font-size: 15px;
    font-family: 'FuturaPT-Book';
    line-height: 24px;
    letter-spacing: 0.05em;
}


/*contact us page css*/

.contact_us_bx {
    width: 100%;
    float: left;
    padding:45px 0 0 80px;
}

.contact_adres {
    float: right;
    width: 32%;
    padding-top: 34px;
}

.contact_adres ul li {
	color: #000000;
	font-size: 25px;
	font-family: 'FuturaPT-Light';
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 48px;
	padding-left: 76px;
}
.contact_adres ul li span
{
    position: absolute;
    top: -10px;
    left: 0;
    width:55px;
    height:55px;background-color: #e51b23;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: #fff;
}
.contact_adres ul li span .fa
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}

.contact_adres ul li span .fa.fa-map-marker {
	font-size: 30px;
}
.contact_adres ul li a
{
    color: #000000;
}
.contact_adres ul li a:hover,
.contact_adres ul li a:focus
{
    color: #e51b23;
}
.contct_form_lt
{
    max-width: 830px;
    width: 100%;
    float: left;
    box-shadow: 3px 3px 59px 0 rgba(0, 0, 0, 0.12);
    padding: 60px 60px 55px;
}

.contct_form_lt .form-group
{
    margin-bottom: 18px;
}
.contct_form_lt .form-group .form-control
{
    padding-left: 50px;
    border: 0;
    border-radius:0;
    box-shadow: none;
    border:1px solid #d6d6d6;
    height: 54px;
    font-size:15px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    letter-spacing: 0.01em;
}
.contct_form_lt .form-group:first-child .form-control
{
    background:url(../images/user-icon.png) 20px 14px no-repeat;
}

.contct_form_lt .form-group:nth-child(2) .form-control
{
    background:url(../images/mail-icon.png) 20px 14px no-repeat;
}

.contct_form_lt .form-group:nth-child(3) .form-control
{
    background:url(../images/mobile-icon.png) 20px 14px no-repeat;
}

.contct_form_lt .form-group:nth-child(4) .form-control
{
    background:url(../images/mail-icon.png) 20px 14px no-repeat;
}

.contct_form_lt .form-group .form-control.textarea_control
{
    height: 140px;
    resize: none;
    padding-top: 14px;
}
.contct_form_lt .form-group:last-child
{
    margin-bottom: 0;
}
.contct_form_lt .form-group .customs_btn.contact_btn
{
    font-size:16px;
    width:224px;
    padding:20px 10px;
    margin-top:25px;
    border: 1px solid transparent;
    -webkit-transition:all ease-in-out 0.5s;
    -moz-transition:all ease-in-out 0.5s;
    transition:all ease-in-out 0.5s;
}
.contct_form_lt .form-group .customs_btn.contact_btn:focus,
.contct_form_lt .form-group .customs_btn.contact_btn:hover
{
    border-color:#e51b23;
    color: #e51b23;
}


/*sign-up pop css*/
#user_icon {
	width: 36px;
	height: 27px;
}

.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: 0.8;
}
.sign_up .modal-dialog {
    max-width: 1056px;
    width: 100%;    
    margin: 0 auto;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
}

.sign_up .modal-content {
    border: 0;
    border: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 66px 60px 63px;
}

.pop_up_close {
    position: absolute;
    top: -30px;
    right: -20px;
    width: 65px;
    height: 65px;
    font-size: 38px;
    color: #fff;
    border: 5px solid #fff !important;
    border-radius: 100%;
    background-color: #e41b23 !important;
    opacity: 1;
    line-height: 30px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.pop_up_close:hover,
.pop_up_close:focus {
    color: #fff;
    opacity: 1;
    border-color: #e41b23 !important;
}

.pop_up_head h3
{
    font-size:35px;
    color: #000;
    font-weight:normal;
     font-family: 'FuturaPT-Medium';
    letter-spacing: 0.02em;
    text-transform:uppercase;
    display: inline-block;
}
.upload_pic
{
    display: inline-block;
    border: 1px solid #a3a3a3;
    font-size: 16px;
    color: #575757;
    padding: 10px 20px;
    letter-spacing: 0.02em; 
    float: right;
         font-family: 'FuturaPT-Light';
    font-weight: normal;
}
.upload_pic:hover,
.upload_pic:focus
{
    color: #fff;
    background-color: #a3a3a3;
}
.upload_pic:hover  #user_icon,
.upload_pic:focus  #user_icon
{
    fill:#fff;
}
 #user_icon
{
 fill:#a3a3a3;
    margin-top: -6px;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    margin-right: 10px;
}
.upload_pic #user_icon
{
display: inline-block;
    vertical-align: middle;
}
.sign_form_bx .form-group {
	margin-bottom: 15px;
	width: 100%;
	float: left;
}
.form_fiel_outr {
	width: 47%;
	/* display: inline-block; */
	margin-right: 6%;
	float: left;
}
.form_fiel_outr:last-child
{
    margin-right: 0;
}
.sign_form_bx {
	display: inline-block;
	width: 100%;
    margin: 38px 0 0; 
}
.form_fiel_outr .fiel_title label
{
    font-size: 18px;
    color: #232323;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    margin-bottom: 0;
    letter-spacing: 0.02em;
}
.form_fiel_outr .fiel_title
{
    width:136px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}
.form_fiel_outr .fiel_title label span
{
    color: #de1a22;
}
.form_fiel_outr .fiel_input_bx {
	width: 69%;
	display: inline-block;
    vertical-align: middle;
}
.form_fiel_outr  .fiel_input_bx .form-control
{
    height: 55px;
    border-radius: 0;
    border:1px solid #cccccc;
    box-shadow: none;
    font-size:18px;
     font-family: 'FuturaPT-Light';
    font-weight: normal;
}
.submt_btn
{
    font-size: 21px;
    color: #fff;
    background-color: #e41b23;
    text-align: center;
    width:220px;
    border: 0;
    letter-spacing: 0.02em;
    padding:11px 10px;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    border:1px solid transparent;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    margin: 36px 0 0 136px;
}
.submt_btn:focus,
.submt_btn:hover
{
    background-color: transparent;
    border-color: #e41b23;
    color: #e41b23;
}


/*lofin pop up css*/
.login_pop_up .modal-dialog
{
    max-width: 709px;
    width: 100%;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin:0 auto;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}
.login_pop_up .modal-content
{
    padding-bottom: 42px;
}
.login_pop_up  .pop_up_head
{
    text-align: center;
}
.login_pop_up  .pop_up_head img {
	width: 240px;
	height: 65px;
	display: inline-block;
    margin: 22px 0 35px;
}
.login_pop_up .login_form {
	padding: 0 30px;
}

.login_pop_up .login_form  .fiel_title {
	width: 109px;
	display: inline-block;
}
.login_pop_up .login_form  .fiel_title label
{
    font-size:18px;
    color: #7f7f7f;
    font-weight:300;
    font-family: 'FuturaPT-Light';
    letter-spacing: 0.02em;
}
.login_pop_up .login_form  .fiel_input_bx {
	width: 72%;
	display: inline-block;
    vertical-align: middle;
}

.login_pop_up .login_form  .fiel_input_bx .form-control
{
    height:55px;
    border-radius: 0;
    box-shadow: none;
    font-size: ;
     color: #262626;
    font-weight:300;
    font-family: 'FuturaPT-Light';
    letter-spacing: 0.02em;
}
.login_pop_up .login_form  .fiel_input_bx .form-control:hover,
.login_pop_up .login_form  .fiel_input_bx .form-control:focus
{
 border-color: #ccc;   
}
.login_pop_up .login_form  .sub_button_outr
{
    text-align: center;
    margin: 15px 0 50px;
    width:100%;
    display: inline-block;
}
.login_pop_up .login_form  .submt_btn
{
    margin-left: 0;
    display: inline-block;
    width: 198px;
}
.login_pop_up .login_form  .submt_btn.sign_up_btn {
	margin-left: 22px !important;
    background-color: #8f8f8f;
}
.login_pop_up .login_form  .submt_btn.sign_up_btn:hover
{
    background-color: transparent;
    border-color: #8f8f8f;
    color: #8f8f8f;
}
.login_pop_up  .sm_btn_outr
{
    text-align: center;
    position: relative;
    padding: 50px 0 0;
    z-index: 1;
}
.sm_btn_outr::before {
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
    margin: auto;
    max-width: 520px;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	content: '';
}
span.divider_or {
	position: absolute;
	top: -14px;
	left: 0;
	right: 0;
	background-color: #fff;
	font-size: 22px;
	color: #696969;
	margin: auto;
	width: 60px;
	z-index: 2;
	text-align: center;
	text-transform: uppercase;
}
.sm_btn
{
background-color: #3b66c4;
    color: #fff;
    font-size:18px;
    letter-spacing: 0.02em;
    display: inline-block;
    padding:11px 10px 9px 40px;
    -webkit-border-radius:5px; 
    border-radius:5px; 
    max-width: 250px;
    width: 100%;
    font-family: 'FuturaPT-Book';
    text-align: center;
    position: relative;
    min-height: 49px;
}
.sm_btn:hover,
.sm_btn:focus
{
    color: #fff;
    background-color:#4676dc;
}
.sm_btn .fa {
	position: absolute;
	top: 10px;
	left: 13px;
	margin-right: 20px;
	font-size: 25px;
	display: inline-block;
	vertical-align: middle;
}
.sm_btn .fa.fa-facebook
{
    font-size: 28px;
}
.sm_btn .fa::after {
	content: '';
	display: inline-block;
	width: 2px;
	height: 22px;
	/* margin: 0 20px; */
	background-color: rgba(255, 255, 255, 0.4);
	position: absolute;
	top: 4px;
	left: 32px;
}
.sm_btn.ggl_sm_btn
{
    background-color: #cf4332;
    margin-left: 20px;
}
.sm_btn.ggl_sm_btn:hover,
.sm_btn.ggl_sm_btn:focus
{
    background-color: #e46657;
}
.sm_btn .fa.fa-google-plus::after
{
    left: 40px
}

/* Thank You Page */
.thankyou-cover { position: relative; }

.thankyou-cover.contact-page.text-center {
	padding: 100px 0;
}
.thankyou-cover .tick { border: solid 2px #16bb16; border-radius: 100%; color: #16bb16; display: block; font-size: 65px; height: 160px; line-height: 160px; margin: 0 auto 70px; text-align: center; width: 160px; }
.thankyou-cover .tick i { font-size: 65px; }
.thankyou-cover .thnkyou-message { background-color: #dff0d8; border: 1px solid #d6e9c6; border-radius: 4px; color: #3c763d; margin-bottom: 20px; padding: 15px; }
.thankyou-cover .thnkyou-message p { font-size: 18px; margin: 0;   font-family: 'FuturaPT-Book';}
.thankyou-cover .thnkyou-message p { font-size: 18px; margin: 0;   font-family: 'FuturaPT-Book';}







@media(min-width:1500px) {
    .container {
        width: 1470px;
        margin: auto;
    }
}

@media (max-width:1499px) {
    header .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        width: 79.5%;
    }
    header .navbar-inverse .navbar-nav>li {
        margin-right: 43px;
    }
    header .navbar-inverse .navbar-nav>li>a {
        font-size: 18px;
    }
    .login_bx .login_com_btn {
        font-size: 14px;
    }
    .banner_con .carousel .carousel-inner .item {
        height: 450px;
    }
    .banner_con .carousel .carousel-inner .item h1 {
        font-size: 56px;
        letter-spacing: 2px;
        margin-bottom: 32px;
    }
    .customs_btn {
        width: 223px;
        font-size: 22px;
        padding: 12px 10px 12px;
    }
    .banner_con .carousel .carousel-control {
        width: 28px;
    }
    .how_it_con {
        padding: 50px 0;
    }
    .section_heading h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .section_heading h2::after {
        margin: 12px auto 0;
    }
    .section_heading p {
        font-size: 19px;
    }
    .how_work_inn ul li {
        width: 18.7%;
        margin-right: 14px;
        padding: 24px 15px;
    }
    .how_work_inn ul li figure {
        margin-bottom: 15px;
    }
    .how_work_inn ul li h3 {
        font-size: 15px;
        margin-bottom: 4px;
    }
    .how_work_inn ul li p {
        font-size: 16px;
        line-height: 24px;
    }
    .flower_item {
        width: 150px;
    }
    footer {
        padding: 46px 0 14px;
    }
    .footer_bx.footer_logo {
        width: 18%;
        padding: 42px 0;
    }
    .footer_logo #footer_logo {
        width: 170px;
    }
    .quick_nav {
        width: 30%;
    }
    .contact_bx {
        width: 21%;
        padding: 0px 2%;
    }
    .email_sub_bx {
        width: 27%;
    }
    .footer_bx h3 {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .quick_nav ul li {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .contact_bx ul li {
        margin-bottom: 15px;
    }
    .footer_bx {
        min-height: 145px;
    }
    .email_bx {
        margin-bottom: 20px;
        height: 38px;
    }
    .email_bx .form-control {
        height: 38px;
        font-size: 14px;
    }
    .submit_btn {
        font-size: 17px;
        height: 38px;
    }
    .copyright_con {
        margin-top: 28px;
    }
    /*    faqs page css*/
    .baner_inn_con {
        height: 250px;
    }
    .banner_inn_contet h1 {
        font-size: 56px;
        margin-bottom: 4px;
    }
    .banner_inn_contet p {
        font-size: 26px;
        line-height: 56px;
        letter-spacing: 0.32em;
    }
    .faqs_con {
        padding: 50px 0 56px;
    }
    .acc_inn {
        margin-top: 36px;
    }
    .accordion li.open {
        margin-bottom: 25px;
    }
    .accordion .link {
        padding: 16px 18px;
    }
    .accordion .link::after {
        top: 8px;
        right: 18px;
        font-size: 26px;
    }
    .accordion li.open .link:after
    {
        top: 12px;
    }
    .submenu {
        padding: 0px 18px 20px;
    }
    .submenu p {
        font-size: 16px;
        line-height: 24px;
    }
    /*    wall page css*/
    .wall_outr {
        margin-top: 20px;
    }
    .wall_right_bx .seacrh_bx {
        height: 45px;
    }
    .recent_pot_bx {
        margin-top: 28px;
        padding: 20px 15px 30px;
    }
    .recent_pot_bx h3 {
        ;
        font-size: 20px;
        margin-bottom: 23px;
    }
    .recent_pot_bx ul li {
        padding-left: 85px;
    }
    .recent_pot_bx ul li p {
        font-size: 14px;
        line-height: 20px;
    }
    .wall_lt_bx .wall_detail_bx figure {
        margin-bottom: 20px;
    }
    .wall_lt_bx .wall_detail_bx h3 {
        margin-bottom: 7px;
    }
    .wall_lt_bx .wall_detail_bx p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .wall_lt_bx .wall_detail_bx .post_by_bx p {
        ;
        font-size: 15px;
    }
    .wall_sm_bx ul li {
        padding: 5px 19px;
        font-size: 16px;
    }
    .comment_bx {
        margin-top: 40px;
    }
    .comment_bx h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .comment_bx .form-group {
        margin-bottom: 15px;
    }
    .comment_bx .form-group .form-control {
        height: 43px;
        padding: 6px 14px;
        font-size: 16px;
    }
    .comment_bx .form-group .customs_btn.form_sub_btn {
        padding: 16px 10px;
        margin-top: 18px;
    }
    
/*    contact page css*/
    .contact_us_bx {
padding:20px 0 0 80px;
}
    .contact_adres {
    padding-top: 25px;
}
    .contact_adres ul li {
	font-size: 20px;
	margin-bottom: 38px;
	padding-left: 55px;
}
    .contact_adres ul li span {
	top: -8px;
	width: 45px;
	height: 45px;
}
    .contact_adres ul li span .fa.fa-map-marker {
	font-size: 25px;
}
    .contact_adres ul li span .fa {
	font-size: 17px;
}
    .contct_form_lt {
	max-width: 670px;
	padding: 50px 40px 45px;
}
    .contct_form_lt .form-group .form-control {
	height: 50px;
}
    .contct_form_lt .form-group .customs_btn.contact_btn {
	width: 200px;
	padding: 16px 10px;
	margin-top: 15px;
}
    
    
/*    sign up pop up css*/
    .sign_up .modal-content {
	padding: 30px 60px 30px;
}
    .pop_up_head h3 {
	font-size: 25px;
}
    .sign_form_bx {
	margin: 18px 0 0;
}
    .form_fiel_outr .fiel_input_bx .form-control {
	height: 37px;
	font-size: 14px;
}
    
.form_fiel_outr .fiel_title label {
	font-size: 14px;
	line-height: normal;
}
    .upload_pic {
	font-size: 15px;
	padding: 9px 17px;
}
.submt_btn {
	font-size: 18px;
	width: 180px;
	margin: 8px 0 0 136px;
}
    #user_icon {
	width: 23px;
	height: 23px;
}
    .pop_up_close {
	top: -15px;
	right: -14px;
	width: 45px;
	height: 45px;
	font-size: 28px;
        border: 3px solid #fff;
}
/*tanks page css*/
    
    .thankyou-cover .tick {
	height: 120px;
	line-height: 120px;
	width: 120px;
}
    
    
/*    login pop css*/
    .login_pop_up .pop_up_head #pop_logo {
	margin: 22px 0 15px;
}
.login_pop_up .login_form .fiel_input_bx .form-control {
	height: 45px;
}
}
